{% extends 'base.html' %}

{% block title%}ページ1{% endblock %}

{% block content %}

<div class="card bg-light mb-3" style="max-width: 600pt;">
  <div class="card-header"><div class="p-3 mb-2 bg-info text-white"><h3>現状の進捗</h3></div></div>
  <div class="card-body">
    <h5 class="card-title">選択したテーマ</h5>
    <p class="card-text">
   <h6>
        {% for obj in q %}
            {% if obj.keiriShonin == False %}
              （案件番号＝{{ obj.kanriNo }}、枝番＝{{ obj.edaban }}、ステータス＝{{ obj.status }}、コード＝{{ obj.statusCode }}、<font style="color:red;"><b>経理承認＝{{ obj.keiriShonin}}</b></font>、支払パターン＝{{ obj.shiharaiPattern }}、案件名＝{{ obj.ankenMei }}）
            {% else %}
              （案件番号＝{{ obj.kanriNo }}、枝番＝{{ obj.edaban }}、ステータス＝{{ obj.status }}、コード＝{{ obj.statusCode }}、経理承認＝{{ obj.keiriShonin}}、支払パターン＝{{ obj.shiharaiPattern }}、案件名＝{{ obj.ankenMei }}）
            {% endif %}
        {% endfor %}
    </h6>    
    </p>
  </div>
</div>

<div class="card bg-light mb-3" style="max-width: 600pt;">
  <div class="card-header"><div class="p-3 mb-2 bg-info text-white"><h3>契約書作成完了</h3></div></div>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <nobr>
    <p class="card-text">WF No. 契約書No. 契約金額入力　契約書URL を入力して「確定」を押してください。:

        <form action="/book/keiyakusyoSakuseiSave" method="POST">{% csrf_token %}
          <nobr>
          <span class="input-group-text" id="basic-addon1">WF-No.：&nbsp;
          <input type="text"  name="wfNo" class="form-control" placeholder="英数字のみ" aria-label="Username" aria-describedby="basic-addon1">&nbsp;&nbsp;契約書No.：&nbsp; 
          <input type="text"  name="keiyakushoNo" class="form-control" placeholder="英数字のみ" aria-label="Username" aria-describedby="basic-addon1">&nbsp;&nbsp; 契約金額：&nbsp; 
          <input type="text"  name="keiyakuKingaku" class="form-control" placeholder="英数字のみ" aria-label="Username" aria-describedby="basic-addon1">&nbsp; 円</span>
          <label for="basic-url"></label>
          <div class="input-group mb-3" style="max-width: 600pt;">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon3">https://advantec-group.ent.box.com/.../</span>
            </div>
            <input type="text" class="form-control" name="keiyakushoLink" id="basic-url" aria-describedby="basic-addon3">
          </div><div style="text-align: center;">
          <button class="btn btn-primary" type="submit" name="confirm" style="width:120pt;height:35pt;margin: 5px 5px;"> 確定</button> &nbsp;&nbsp; 
          <button class="btn btn-primary" type="submit" name="skipPage4to5" style="width:120pt;height:35pt;margin: 5px 5px;"> スキップ</button> &nbsp;&nbsp; 
          <button class="btn btn-primary" type="submit" name="pageTop" style="width:120pt;height:35pt;margin: 5px 5px;"> TOPへ戻る</button> &nbsp;&nbsp; 
          </div></span>
          </nobr> 
        </form>
        </div>
      </div>
    </div>


  {% comment %} <div>
    <br><br><br>
    <ul><h3 style=color:#3B3838><li>契約書作成完了の処理です。</ul></h3></li>
  </div>
  <body>
    <h5 style=color:#3B3838 ><b>※ WF No. 契約書No. 契約金額入力　契約書URL を入力して「確定」を押してください。</b></h5>
      <!-- <div class="alert alert-primary" role="alert"> -->
      <div class="input-group mb-3">
        <div class="input-group-prepend">
        <form action="/book/keiyakusyoSakuseiSave" method="POST">{% csrf_token %}
          <nobr>
          <span class="input-group-text" id="basic-addon1">WF-No.：&nbsp;
          <input type="text"  name="wfNo" class="form-control" placeholder="英数字のみ" aria-label="Username" aria-describedby="basic-addon1">&nbsp;&nbsp;契約書No.：&nbsp; 
          <input type="text"  name="keiyakushoNo" class="form-control" placeholder="英数字のみ" aria-label="Username" aria-describedby="basic-addon1">&nbsp;&nbsp; 契約金額：&nbsp; 
          <input type="text"  name="keiyakuKingaku" class="form-control" placeholder="英数字のみ" aria-label="Username" aria-describedby="basic-addon1">&nbsp;円 </span>
          <label for="basic-url"></label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon3">https://advantec-group.ent.box.com/.../</span>
            </div>
            <input type="text" class="form-control" name="keiyakushoLink" id="basic-url" aria-describedby="basic-addon3">
          </div>
          <button class="btn btn-primary" type="submit" name="confirm" style="width:120pt;height:35pt;margin: 5px 5px;"> 確定</button> &nbsp;&nbsp; 
          <button class="btn btn-primary" type="submit" name="skipPage4to5" style="width:120pt;height:35pt;margin: 5px 5px;"> スキップ</button> &nbsp;&nbsp; 
          <button class="btn btn-primary" type="submit" name="pageTop" style="width:120pt;height:35pt;margin: 5px 5px;"> TOPへ戻る</button> &nbsp;&nbsp; 
          </span>
          </nobr> 
        </form>
        </div>
      </div>
  </body> {% endcomment %}

{% endblock content %}