{% extends 'base.html' %}

{% block title%}ページ1{% endblock %}

{% block content %}

<div class="card bg-light mb-3" style="max-width: 600pt;">
  <div class="card-header"><div class="p-3 mb-2 bg-info text-white"><h3>現状の進捗</h3></div></div>
  <div class="card-body">
    <h5 class="card-title">選択したテーマ</h5>
    <p class="card-text">
   <h6>
        {% for obj in q %}
            {% if obj.keiriShonin == False %}
              （案件番号＝{{ obj.kanriNo }}、枝番＝{{ obj.edaban }}、ステータス＝{{ obj.status }}、コード＝{{ obj.statusCode }}、<font style="color:red;"><b>経理承認＝{{ obj.keiriShonin}}</b></font>、支払パターン＝{{ obj.shiharaiPattern }}、案件名＝{{ obj.ankenMei }}）
            {% else %}
              （案件番号＝{{ obj.kanriNo }}、枝番＝{{ obj.edaban }}、ステータス＝{{ obj.status }}、コード＝{{ obj.statusCode }}、経理承認＝{{ obj.keiriShonin}}、支払パターン＝{{ obj.shiharaiPattern }}、案件名＝{{ obj.ankenMei }}）
            {% endif %}
        {% endfor %}
    </h6>    
    </p>
  </div>
</div>

<div class="card" style="width:600pt;height:200pt;margin: 5px 5px;">
  <div class="card-header" >
    <h3> 入力金額の警告画面 </h3>
  </div>
  <div class="card-body">
    <h5 class="card-title" style="color:red;"><b>注文書の金額と納品書の金額が異なります。</b></h5>
    <p class="card-text">いずれかをクリックしてください。</p>
    <nobr><div style="text-align: center;"><a href="kingakuInputAgain" class="btn btn-primary" style="width:150pt;height:35pt;margin: 5px 5px;">納品書金額を再入力</a>
<!--    <a href="#" class="btn btn-primary">無視して次ステップへ</a>  -->
<!--    <button class="btn btn-primary" type="submit" name="skipPage8to9" style="width:150pt;height:35pt;margin: 5px 5px;" > 無視して次ステップへ</button> -->
    </div><a href="rtn-top" class="btn btn-primary" style="width:150pt;height:35pt;margin: 5px 5px;">TOPへ戻る</a></nobr>
  </div>
</div>


<!--  <body> -->
<!--    <h5 style=color:#3B3838 ><b>※ 次のステップの選択</b></h5> -->
      <!-- <div class="alert alert-primary" role="alert"> -->
<!--      <nobr>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
        <form action="/book/nouhinSave" method="POST">{% csrf_token %}
          <nobr>
          <span class="input-group-text" id="basic-addon1"><font style="color:red;"><b>注文書の金額と納品書の金額が異なります。</b></font>いずれかをクリックしてください。
          <a href="kingakuInputAgain" class="btn btn-primary"  style="width:150pt;height:35pt;margin: 5px 5px;">納品書金額を再入力</a></span> 
          <button class="btn btn-primary" type="submit" name="skipPage8to9" style="width:150pt;height:35pt;margin: 5px 5px;"> 無視して次ステップへ</button> &nbsp;&nbsp; 
          <a href="rtn-top" class="btn btn-primary"  style="width:150pt;height:35pt;margin: 5px 5px;">TOPへ戻る</a></span></nobr> 
        </form>
        </div>
      </div>
    </div>
  </body> -->
{% endblock content %}