{% extends 'base.html' %}

{% block title%}ページ1{% endblock %}

{% block content %}

<div class="card bg-light mb-3" style="max-width: 600pt;">
  <div class="card-header"><div class="p-3 mb-2 bg-info text-white"><h3>現状の進捗</h3></div></div>
  <div class="card-body">
    <h5 class="card-title">選択したテーマ</h5>
    <p class="card-text">
   <h6>
        {% for obj in q %}
            {% if obj.keiriShonin == False %}
              （案件番号＝{{ obj.kanriNo }}、枝番＝{{ obj.edaban }}、ステータス＝{{ obj.status }}、コード＝{{ obj.statusCode }}、<font style="color:red;"><b>経理承認＝{{ obj.keiriShonin}}</b></font>、支払パターン＝{{ obj.shiharaiPattern }}、案件名＝{{ obj.ankenMei }}）
            {% else %}
              （案件番号＝{{ obj.kanriNo }}、枝番＝{{ obj.edaban }}、ステータス＝{{ obj.status }}、コード＝{{ obj.statusCode }}、経理承認＝{{ obj.keiriShonin}}、支払パターン＝{{ obj.shiharaiPattern }}、案件名＝{{ obj.ankenMei }}）
            {% endif %}
        {% endfor %}
    </h6>    
    </p>
  </div>
</div>

<div class="card" style="width:600pt;height:200pt;margin: 5px 5px;">
  <div class="card-header"><div class="p-3 mb-2 bg-info text-white"><h3>見積依頼完</h3></div></div>
  <div class="card-body">
    <form action="/book/page_n" method="POST">{% csrf_token %}
    <h5 class="card-title">ステータスを<b><font style="color:blue;">見積依頼完了</font></b>に設定しました。</h5>
    <p class="card-text">いずれかをクリックしてください。</p>
        <nobr><div style="text-align: center;">
        <button class="btn btn-primary" type="submit" name="pageN" style="width:120pt;height:35pt;margin: 5px 5px;"> 前画面に戻る</button> &nbsp;&nbsp; 
        <button class="btn btn-primary" type="submit" name="pageTop" style="width:120pt;height:35pt;margin: 5px 5px;"> TOPへ戻る</button>
    </div></form>
  </div>
</div>


  {% comment %} <div>
    <br><br><br>
    <ul><h3 style=color:#3B3838><li>見積依頼完了の処理です。</ul></h3></li>
  </div>

  <body>
    <h5 style=color:#3B3838 ><b>※ 見積依頼完了</b></h5>
      <!-- <div class="alert alert-primary" role="alert"> -->
      <nobr>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
        <form action="/book/" method="POST">{% csrf_token %}
          <button class="btn btn-primary" type="submit" name="page_n" style="width:120pt;height:35pt;margin: 5px 5px;"> 選択画面へ戻る</button> &nbsp;&nbsp; 
          <a href="rtn-top" class="btn btn-primary"  style="width:120pt;height:35pt;margin: 5px 5px;">TOPへ戻る</a></span></nobr> 
        </form>
        </div>
      </div>
    </div>
  </body> {% endcomment %}

{% endblock content %}