{% extends 'base.html' %}

{% block title%}ページ8{% endblock %}

{% block content %}

  <div>
   <h6>
      {% for obj in object %}
        &nbsp;&nbsp;現状の進捗（keiriShonin={{ obj.keiriShonin }}, kanriNo={{ obj.kanriNo }}, statusCord={{ obj.statusCord }}, shiharaiPattern={{ obj.shiharaiPattern }}、ankenMei={{ obj.ankenMei }}）
      {% endfor %}
    </h6>
  </div>

<h5><nobr>
<span class="badge badge-secondary" style="width:110pt;height:30pt;margin: 5px 5px;">☑案件入力済<br>[STATUS = 1]</span>
<span class="badge badge-light">＞</span> 
<span class="badge badge-secondary" style="width:110pt;height:30pt;margin: 5px 5px;">☑見積書依頼済<br>[STATUS = 2]</span>
<span class="badge badge-light">＞</span>
<span class="badge badge-secondary" style="width:110pt;height:30pt;margin: 5px 5px;">☑見積書入手済<br>[STATUS = 3]</span>
<span class="badge badge-light">＞</span>
<span class="badge badge-secondary" style="width:110pt;height:30pt;margin: 5px 5px;">☑稟議決裁済<br>[STATUS = 4]</span>
<span class="badge badge-light">＞</span>
<span class="badge badge-secondary" style="width:110pt;height:30pt;margin: 5px 5px;">☑契約書(作成完了)<br>[STATUS = 5]</span></nobr>
<span class="badge badge-light">＞</span>
<nobr>
<span class="badge badge-secondary" style="width:110pt;height:30pt;margin: 5px 5px;">☑契約書(締結完了)<br>[STATUS = 6]</span>
<span class="badge badge-light">＞</span>
<span class="badge badge-secondary" style="width:110pt;height:30pt;margin: 5px 5px;">☑注文処理済<br>[STATUS = 7]</span>
<span class="badge badge-light">＞</span>
<span class="badge badge-secondary" style="width:110pt;height:30pt;margin: 5px 5px;">☑納品済<br>[STATUS = 8]</span>
<span class="badge badge-light">＞</span>
<span class="badge badge-info" style="width:110pt;height:30pt;margin: 5px 5px;">☐請求書入手済<br>[STATUS = 9]</span>
<span class="badge badge-light">＞</span>
<span class="badge badge-info" style="width:110pt;height:30pt;margin: 5px 5px;">☐支払処理済<br>[STATUS = 10]</span></h5></nobr>

<ul><h3><li>完了した処理を選択してください。</li></h3></ul>
<h4><nobr>
<a class="btn btn-secondary" href="/book/page8_1" style="width:250pt;height:35pt;margin: 5px 5px;">案件入力を完了しました</a>
<a class="btn btn-secondary" href="/book/page8_1" style="width:250pt;height:35pt;margin: 5px 5px;">見積書の作成依頼を終了しました</a> 
<a class="btn btn-secondary" href="/book/page8_1" style="width:250pt;height:35pt;margin: 5px 5px;">見積書を入手しました</a>
</nobr></h4><h4><nobr>
<a class="btn btn-secondary" href="/book/page8_1" style="width:250pt;height:35pt;margin: 5px 5px;">稟議決裁を終了しました</a>
<a class="btn btn-secondary" href="/book/page8_1" style="width:250pt;height:35pt;margin: 5px 5px;">契約書の作成が終了しました</a>
<a class="btn btn-secondary" href="/book/page8_1" style="width:250pt;height:35pt;margin: 5px 5px;">契約書の締結が終了しました</a>
</nobr></h4><h4><nobr>
<a class="btn btn-secondary" href="/book/page8_1" style="width:250pt;height:35pt;margin: 5px 5px;">注文処理が終了しました</a>
<a class="btn btn-secondary" href="/book/page8_1" style="width:250pt;height:35pt;margin: 5px 5px;">納品処理が終了しました</a> 
<a class="btn btn-primary" href="/book/page9_1" style="width:250pt;height:35pt;margin: 5px 5px;">請求書処理が終了しました</a>
</nobr></h4><h4><nobr>
<a class="btn btn-primary" href="/book/page10_1" style="width:250pt;height:35pt;margin: 5px 5px;">支払処理が終了しました</a>
<a class="btn btn-primary" href="/book/rtn-top" style="width:250pt;height:35pt;margin: 5px 5px;">TOPへ戻る</a>
</nobr></h4>

{% endblock content %}