{% extends 'base.html' %}

{% block title%}ページ1{% endblock %}

{% block content %}

<div class="card bg-light mb-3" style="max-width: 600pt;">
  <div class="card-header"><div class="p-3 mb-2 bg-info text-white"><h3>現状の進捗</h3></div></div>
  <div class="card-body">
    <h5 class="card-title">選択したテーマ</h5>
    <p class="card-text">
   <h6>
        {% for obj in q %}
            {% if obj.keiriShonin == False %}
              （案件番号＝{{ obj.kanriNo }}、枝番＝{{ obj.edaban }}、ステータス＝{{ obj.status }}、コード＝{{ obj.statusCode }}、<font style="color:red;"><b>経理承認＝{{ obj.keiriShonin}}</b></font>、支払パターン＝{{ obj.shiharaiPattern }}、案件名＝{{ obj.ankenMei }}）
            {% else %}
              （案件番号＝{{ obj.kanriNo }}、枝番＝{{ obj.edaban }}、ステータス＝{{ obj.status }}、コード＝{{ obj.statusCode }}、経理承認＝{{ obj.keiriShonin}}、支払パターン＝{{ obj.shiharaiPattern }}、案件名＝{{ obj.ankenMei }}）
            {% endif %}
        {% endfor %}
    </h6>    
    </p>
  </div>
</div>

<div class="card bg-light mb-3" style="max-width: 600pt;">
  <div class="card-header"><div class="p-3 mb-2 bg-info text-white"><h3>請求書入手完了</h3></div></div>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <nobr>
    <p class="card-text">支払単価、購入数、請求書記載の契約書No.、請求書URL を入力して「確定」を押してください。:

        <form action="/book/seikyuusyoSave" method="POST">{% csrf_token %}
          <nobr>
          <span class="input-group-text" id="basic-addon1">支払単価：&nbsp;
          <input type="text"  name="shiharaiTanka" class="form-control" placeholder="英数字のみ" aria-label="Username" aria-describedby="basic-addon1">&nbsp;&nbsp;円　購入数：&nbsp; 
          <input type="text"  name="konyuSuu" class="form-control" placeholder="英数字のみ" aria-label="Username" aria-describedby="basic-addon1">&nbsp;&nbsp; 契約書No.：&nbsp; 
          <input type="text"  name="ringishoNo" class="form-control" placeholder="英数字のみ" aria-label="Username" aria-describedby="basic-addon1">&nbsp; </span>
          <label for="basic-url"></label>
          <div class="input-group mb-3" style="max-width: 600pt;">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon3">https://advantec-group.ent.box.com/.../</span>
            </div>
            <input type="text" class="form-control" name="seikyushoLink" id="basic-url" aria-describedby="basic-addon3">
          </div><div style="text-align: center;">
          <button class="btn btn-primary" type="submit" name="confirm" style="width:120pt;height:35pt;margin: 5px 5px;"> 確定</button> &nbsp;&nbsp; 
          <button class="btn btn-primary" type="submit" name="skipPage8to9" style="width:120pt;height:35pt;margin: 5px 5px;"> スキップ</button> &nbsp;&nbsp; 
          <button class="btn btn-primary" type="submit" name="pageTop" style="width:120pt;height:35pt;margin: 5px 5px;"> TOPへ戻る</button> &nbsp;&nbsp; 
          </div></span>
          </nobr> 
        </form>
        </div>
      </div>
    </div>


  {% comment %} <div>
    <br><br><br>
    <ul><h3 style=color:#3B3838><li>請求書入手後の処理です。</ul></h3></li>
  </div>
  <body>
    <h5 style=color:#3B3838 ><b>※ 支払単価、購入数、請求書記載の契約書No.、請求書URLを入力してください。 :</b></h5>
      <!-- <div class="alert alert-primary" role="alert"> -->
      <div class="input-group mb-3">
        <div class="input-group-prepend">
        <form action="/book/seikyuusyoSave" method="POST">{% csrf_token %}
          <nobr>
          <span class="input-group-text" id="basic-addon1">支払単価：&nbsp;
          <input type="text"  name="shiharaiTanka" class="form-control" placeholder="英数字のみ" aria-label="Username" aria-describedby="basic-addon1">円&nbsp;&nbsp;購入数：&nbsp; 
          <input type="text"  name="konyuSuu" class="form-control" placeholder="英数字のみ" aria-label="Username" aria-describedby="basic-addon1">個&nbsp;&nbsp; 契約書No.：&nbsp; 
          <input type="text"  name="ringishoNo" class="form-control" placeholder="英数字のみ" aria-label="Username" aria-describedby="basic-addon1">&nbsp; </span>
<!--      <span class="input-group-text" id="basic-addon1">稟議番号：
          <input type="text"  name="ringishoNo" class="form-control" placeholder="（最大30文字）" aria-label="Username" aria-describedby="basic-addon1">&nbsp;</span> -->          
          <!--<nobr> -->
          <label for="basic-url"></label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon3">https://advantec-group.ent.box.com/.../</span>
            </div>
            <input type="text" class="form-control" name="seikyushoLink" id="basic-url" aria-describedby="basic-addon3">
          </div>
          <!-- </nobr> -->
          <button class="btn btn-primary" type="submit" name="confirm" style="width:120pt;height:35pt;margin: 5px 5px;"> 確定</button> &nbsp;&nbsp; 
          <button class="btn btn-primary" type="submit" name="skipPage8to9" style="width:120pt;height:35pt;margin: 5px 5px;"> スキップ</button> &nbsp;&nbsp; 
          <button class="btn btn-primary" type="submit" name="pageTop" style="width:120pt;height:35pt;margin: 5px 5px;"> TOPへ戻る</button> &nbsp;&nbsp; 
          </span>
          </nobr>
        </form>
        </div>
      </div>
    </div>
  </body> {% endcomment %}



{% endblock content %}